<footer class="footer-container" id="contacts">
    <div class="container footer">
        <h2 class="footer__logo">DETAILING BY SEMENOV</h2>
        <ul class="footer-contact list">
            <li class="footer-contact__item"><a href="tel:+48555555555" class="footer-contact__link link">+48 555 555
                    555</a></li>
            <li class="footer-contact__item"><a href="mailto:mail@mail.com"
                    class="footer-contact__link link">mail@mail.com</a></li>
            <li class="footer-contact__item"><a href="https://goo.gl/maps/scSwvbgqLXi5k1bL8"
                    class="footer-contact__link link">Słowiańska 15, 78-400
                    Szczecinek</a></li>
        </ul>
        <div class="connect">
            <h3 class="connect__title">Приєднуйтесь</h3>
            <ul class="connect__list list">
                <li class="connect__item"><a href="https://www.instagram.com/" class="connect__link link">
                        <svg class="connect__icon">
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="connect__item"><a href="https://www.facebook.com/" class="connect__link link">
                        <svg class="connect__icon">
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="connect__item"><a href="https://www.whatsapp.com/" class="connect__link link">
                        <svg class="connect__icon">
                            <use href="./images/icons.svg#whatsapp"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</footer>