<header class="header">
    <div class="container">
        <img src="./images/logo.png" alt="BMW E60" class="logo">
        <nav class="navigation">
            <a href="#map" class="navigation__map-link link"><svg class="navigation__map-icon" weight="25" height="25"
                    color="black">
                    <use href="./images/map.svg"></use>
                </svg>Де ми знаходимось</a>
            <ul class="navigation__list list">
                <li class="navigation__list"><a href="" class="navigation__link link">Хімчистка авто</a></li>
                <li class="navigation__list"><a href="" class="navigation__link link">Хімчистка килимів</a></li>
                <li class="navigation__list"><a href="" class="navigation__link link">Хімчистка меблів</a></li>
                <li class="navigation__list"><a href="" class="navigation__link link">Контакти</a></li>
            </ul>
        </nav>
    </div>
</header>