<section class="hero">
        <div class="video">
            <div class="video__backdrop">
            <video src="/video/video.mp4" autoplay muted loop class="video__media"></video>
        </div>
    </div>
    <div class="container">
        <div class="title__container">
            <h1 class="hero__title">Дітейлінг та Хімчистка</h1>
            <a href="tel: +48575138491" class="hero__link">
                <svg width="15" height="15" class="call-icon">
                    <use href="/src/images/icons.svg#phone"></use>
                </svg>
                Дзвони</a>
        </div>
    </div>
</section>