<section class="map" id="map">
    <iframe class="map_frame"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4088.6084302970403!2d16.71158887190111!3d53.702366580935035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470185501c149d49%3A0x5d5c3f198abc067e!2sDetailing%20by%20Semenov!5e0!3m2!1sru!2spl!4v1657123359749!5m2!1sru!2spl"
        width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<section class="discount">
    <div class="container">
        <h2 class="visually-hidden">Discount</h2>
        <ul class="discount-list list">
            <li class="discount__item">
                <div class="front">
                    <p class="discount__title">Знижка на перше замовлення</p>
                    <p class="discount__ammount">-10% </p>
                    <svg width="40" height="40" fill="#d32f2f" class="arrow">
                        <use href="./images/icons.svg#arrow"></use>
                    </svg>
                </div>
                <div class="back">
                    <p class="discount__title">Промокод</p>
                    <p class="discount__ammount">SEMENOV-START</p>
                </div>
            </li>
            <li class="discount__item">
                <div class="front">
                    <p class="discount__title">Твій друг - наша знижка</p>
                    <p class="discount__ammount">-10%</p>
                    <svg width="40" height="40" fill="#d32f2f" class="arrow">
                        <use href="./images/icons.svg#arrow"></use>
                    </svg>
                </div>
                <div class="back">
                    <p class="discount__title">Промокод</p>
                    <p class="discount__ammount">FRIENDS-TIME</p>
                </div>

            </li>
        </ul>

    </div>
</section>