<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Послуги</h2>
            <ul class="mobile-card list">
            <li class="card">
                <img src="/src/images/video.jpg" alt="Приклад роботи" class="card__img" width="200" heigth="200">
                <h3 class="card__lable">Детейлінг</h3>
                <p class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro quasi praesentium
                    qui, delectus dolorum ratione amet! Et quia quam harum pariatur? Vel illo nihil voluptates consectetur magni
                    tempore ratione.</p>
                <p class="card__price">Price: 1000 - 2000</p>
            </li>
            <li class="card">
                <img src="/src/images/video.jpg" alt="Приклад роботи" class="card__img" width="200" heigth="200">
                <h3 class="card__lable">Чищення диванів</h3>
                <p class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro quasi praesentium
                    qui, delectus dolorum ratione amet! Et quia quam harum pariatur? Vel illo nihil voluptates consectetur magni
                    tempore ratione.</p>
                <p class="card__price">Price: 1000 - 2000</p>
            </li>
            <li class="card">
                <img src="/src/images/video.jpg" alt="Приклад роботи" class="card__img" width="200" heigth="200">
                <h3 class="card__lable">Відновлення килимів</h3>
                <p class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro quasi praesentium
                    qui, delectus dolorum ratione amet! Et quia quam harum pariatur? Vel illo nihil voluptates consectetur magni
                    tempore ratione.</p>
                <p class="card__price">Price: 1000 - 2000</p>
            </li>
            <li class="card">
                <img src="/src/images/video.jpg" alt="Приклад роботи" class="card__img" width="200" heigth="200">
                <h3 class="card__lable">Полірування фар</h3>
                <p class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro quasi praesentium
                    qui, delectus dolorum ratione amet! Et quia quam harum pariatur? Vel illo nihil voluptates consectetur magni
                    tempore ratione.</p>
                <p class="card__price">Price: 1000 - 2000</p>
            </li>
            <li class="card">
                <img src="/src/images/video.jpg" alt="Приклад роботи" class="card__img" width="200" heigth="200">
                <h3 class="card__lable">Чистка стелі</h3>
                <p class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro quasi praesentium
                    qui, delectus dolorum ratione amet! Et quia quam harum pariatur? Vel illo nihil voluptates consectetur magni
                    tempore ratione.</p>
                <p class="card__price">Price: 1000 - 2000</p>
            </li>
        </ul>
        <div class="swiper mySwiper tablet-decktop-card">
        <div class="swiper-wrapper">
       <div class="swiper-slide">
        <ul class="list">
            <li class="card">
            <img src="/src/images/video.jpg" alt="Приклад роботи" class="card__img" width="200" heigth="200">
            <h3 class="card__lable">Детейлінг</h3>
            <p class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro quasi praesentium qui, delectus dolorum ratione amet! Et quia quam harum pariatur? Vel illo nihil voluptates consectetur magni tempore ratione.</p>
            <p class="card__price">Price: 1000 - 2000</p>
            </li>
       </div>
    <div class="swiper-slide">
        <li class="card">
        <img src="/src/images/video.jpg" alt="Приклад роботи" class="card__img" width="200" heigth="200">
        <h3 class="card__lable">Чищення диванів</h3>
        <p class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro quasi praesentium
            qui, delectus dolorum ratione amet! Et quia quam harum pariatur? Vel illo nihil voluptates consectetur magni
            tempore ratione.</p>
        <p class="card__price">Price: 1000 - 2000</p>
        </li>
    </div>
    <div class="swiper-slide">
        <li class="card">
        <img src="/src/images/video.jpg" alt="Приклад роботи" class="card__img" width="200" heigth="200">
        <h3 class="card__lable">Відновлення килимів</h3>
        <p class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro quasi praesentium
            qui, delectus dolorum ratione amet! Et quia quam harum pariatur? Vel illo nihil voluptates consectetur magni
            tempore ratione.</p>
        <p class="card__price">Price: 1000 - 2000</p>
        </li>
    </div>
    <div class="swiper-slide">
        <li class="card">
        <img src="/src/images/video.jpg" alt="Приклад роботи" class="card__img" width="200" heigth="200">
        <h3 class="card__lable">Полірування фар</h3>
        <p class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro quasi praesentium
            qui, delectus dolorum ratione amet! Et quia quam harum pariatur? Vel illo nihil voluptates consectetur magni
            tempore ratione.</p>
        <p class="card__price">Price: 1000 - 2000</p>
        </li>
    </div>
    <div class="swiper-slide">
        <li class="card">
        <img src="/src/images/video.jpg" alt="Приклад роботи" class="card__img" width="200" heigth="200">
        <h3 class="card__lable">Чистка стелі</h3>
        <p class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro quasi praesentium
            qui, delectus dolorum ratione amet! Et quia quam harum pariatur? Vel illo nihil voluptates consectetur magni
            tempore ratione.</p>
        <p class="card__price">Price: 1000 - 2000</p>
        </li>
    </ul>
    </div>
    </div>
    <div class="swiper-pagination"></div>
    </div>
    </div>
    </div>
</section>
