<!-- Swiper -->
<section>
    <h2>Наші послуги</h2>
    <div class="container">
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="/src/images/ryba.jpg" alt="lorem">
            <h3>Дітейлінг Автомобілів</h3>
            <ul>
                <li>
                    <p>
                        Опис
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis repellat dolor at laudantium reprehenderit aperiam blanditiis explicabo neque, dicta dolore ullam expedita itaque voluptatum cum impedit quas illo in maiores?
                    </p>
                </li>
                <li>
                    <p>
                        Ціна
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odio ut maiores neque ad. Exercitationem facere sint assumenda beatae dolores minus! Accusantium, placeat quos libero obcaecati debitis laborum deleniti necessitatibus!
                    </p>
                </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <img src="/src/images/ryba.jpg" alt="lorem">
            <h3>Дітейлінг Автомобілів</h3>
            <ul>
                <li>
                    <p>
                        Опис
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis repellat dolor at laudantium reprehenderit
                        aperiam blanditiis explicabo neque, dicta dolore ullam expedita itaque voluptatum cum impedit quas illo in
                        maiores?
                    </p>
                </li>
                <li>
                    <p>
                        Ціна
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odio ut maiores neque ad. Exercitationem facere
                        sint assumenda beatae dolores minus! Accusantium, placeat quos libero obcaecati debitis laborum deleniti
                        necessitatibus!
                    </p>
                </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <img src="/src/images/ryba.jpg" alt="lorem">
            <h3>Дітейлінг Автомобілів</h3>
            <ul>
                <li>
                    <p>
                        Опис
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis repellat dolor at laudantium reprehenderit
                        aperiam blanditiis explicabo neque, dicta dolore ullam expedita itaque voluptatum cum impedit quas illo in
                        maiores?
                    </p>
                </li>
                <li>
                    <p>
                        Ціна
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odio ut maiores neque ad. Exercitationem facere
                        sint assumenda beatae dolores minus! Accusantium, placeat quos libero obcaecati debitis laborum deleniti
                        necessitatibus!
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
    </div>
</section>