.header {
    width: 100%;
    background-color: #2F343A;
}
.logo {
    width: 150px;
}

.navigation {}

.navigation__map-link {}

.link {}

.navigation__map-icon {}

.navigation__list {}

.list {}

.navigation__link {}